body {
  background-color: red; /* Replace with your desired color */
}
.start-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.end-session{
  position: absolute;
  bottom: 100px;
  left: 500px;
}
.user-profile{
  position: absolute;
  top: 100px;
  left: 100px;
}
.timer{
  position: absolute;
  bottom: 100px;
  left: 100px;
}
.todo-list{
  position: absolute;
  top: 100px;
  left: 500px;
}