<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="row justify-content-start">
        <div class="col-4">
          <app-user-profile-element></app-user-profile-element>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-4">
          <app-user-main-button-element></app-user-main-button-element>
        </div>
      </div>

      <div class="row justify-content-start ">
        <div class="col-6">
          <app-user-session-element></app-user-session-element>
        </div>
        <div class="col-6">
          <app-user-end-element></app-user-end-element>
        </div>
      </div>
    </div>

    <div (click)="redirectToAnotherComponent()" class="col-4">
      <app-user-todo-list-element></app-user-todo-list-element>
    </div>
  </div>
</div>
